[submodule "BehaviorTree.CPP"]
	path = behaviour_tree/src/BehaviorTree.CPP
  url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "BehaviorTree.ROS2"]
	path = behaviour_tree/src/BehaviorTree.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
