.footerBottom {
    position: absolute;
    left: 0;
    height: 7%;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(48, 143, 156, 1); 
    color: white;
}
  